@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Oswald:wght@200..700&display=swap");

$primary-font: "Marcellus", serif;

// Use the font in your styles
body {
  font-family: $primary-font;
}

//custom variables
$primary: #9f6f56;
$secondary: #503c2a;
$background-color: #f1e9e2;

* {
  // background-color: $background-color;
  color: $primary;
}

.text-justify-custom {
  text-align: justify;
}
.spacing {
  margin-top: 150px;
  margin-bottom: 150px;
}

.logo {
  width: 100;
  height: 100;
}

.img-sizing-small {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
.img-sizing-large {
  width: 250px;
  height: 600px;
  object-fit: cover;
}
.img-sizing-menu {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.small-input {
  max-width: 400px; /* Adjust the width as needed */
}
.navbar-brand img {
  max-height: 50px;
  /* Adjust based on your logo size */
}

footer {
  background-color: #9f6f56;
  text-align: center;
  padding: 10px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.2em;
}

.social-icons a:hover {
  color: var(--color-3);
}

.navbar-nav .nav-link {
  margin-right: 2rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: $primary;
  font-size: 1.25rem;
}

.navbar-nav .nav-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  stroke: #9f6f56;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0.4s ease, stroke 0.4s ease;
}

.navbar-nav .nav-link.active svg,
.navbar-nav .nav-link:hover svg {
  stroke-dashoffset: 0;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #9f6f56;
}
// import bootstrap
@import "../node_modules/bootstrap//scss/bootstrap";
